.color_red
{
   color : red;
   text-decoration : underline;
}

.centerlize
{
					align : center;
					border :1px solid black; 
					width : 500px;
					margin-left: auto;
					margin-right: auto;
					background-color:lightblue;
					font-size:25px;
					padding-left: 30px;
				
}